# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

# next.js
.next/
out/

# production
build
dist

# misc
.DS_Store
*.pem
*.log
npm-debug.log*
.yarn-integrity
.env
.env*.local

# typescript
*.tsbuildinfo
next-env.d.ts

# eslint
.eslintcache
